
body {
    font-family: Arial;
    background:whitesmoke ;
    color: whitesmoke;
    text-indent: .5%;
}

button {
    border: groove;
    background-color: inherit;
    color: whitesmoke;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: .5%;
}

hr{
  border-top: 30%;
  background-color: whitesmoke;
}

select {
  width: 140px;
  height: 35px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #999;
  background: #eee;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

input[type = submit]{
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#category
{
  
  font-size: 32px;
  width: 30%;
  background-color: rgb(31, 31, 31);
  text-align: center;

}

#my_timer
{
  
  width: 30%;
  font-size: 16px;
  background-color:  rgb(51, 49, 49);
  text-align: left;
}

#splits{
  position: relative;
  margin-left: .5%;
}

#time{

  margin-left: .5%;
  font-family: Arial;
  font-size: 60px;
  color: aliceblue;
}


#hundred{
  font-size: 32px;
}

#control {
    background-color: rgb(4, 160, 4);
  }

#reset {
  background-color: red;
}

#create{
  background-color: orange;
}

.name{
  font-size: 20px;
  
}

.time_gain{
  position: absolute;
  font-size: 20px;
  left: 70%;
  color:green;
  
}

.time_loss
{
  position: absolute;
  font-size: 20px;
  left: 70%;
  color: red;
}

.gold_time
{
  position: absolute;
  font-size: 20px;
  left: 70%;
  color: gold
}



.cumulative{
  position: absolute;

  font-size: 20px;
  right: 1%;
   
}

