
body {
    font-family: Arial;
    background:whitesmoke ;
    color: whitesmoke;
    text-indent: .5%;
}

button {
    border: groove;
    background-color: inherit;
    color: whitesmoke;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: .5%;
}

#title_input
{
  
  font-size: 32px;
  width: 30%;
  background-color: rgb(31, 31, 31);
  text-align: center;

}

#timer
{
  
  width: 30%;
  font-size: 16px;
  background-color:  rgb(51, 49, 49);
}

#splits{
  margin-left: .5%;
}

#my_timer{

  margin-left: .5%;
  font-family: Arial;
  font-size: 60px;
  color: aliceblue;
}


#hundred{
  font-size: 32px;
}

#control {
    background-color: rgb(4, 160, 4);
  }

#reset {
  background-color: red;
}


